<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"



	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">



	<tx:annotation-driven />
	<context:component-scan base-package="spring" />


	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		name="ViewResolver">

		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>


	</bean>



	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="oracle.jdbc.driver.OracleDriver"
		p:url="jdbc:oracle:thin:@DESKTOP-067DG19:1521:XE" p:username="system"
		p:password="sys" name="dbinfo">
	</bean>


	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="lsfb" p:dataSource-ref="dbinfo">



		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>

			</props>
		</property>


		<property name="annotatedClasses">
			<list>
				<value>
					spring.mvcModel.Student
				</value>
			</list>
		</property>
	</bean>


	<bean
		class="org.springframework.orm.hibernate5.HibernateTemplate "
		name="ht" p:sessionFactory-ref="lsfb"></bean>

	<bean class="spring.mvcdao.StudentDao"
		p:hibernateTemplate-ref="ht" />




	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="lsfb" />


	</bean>








</beans>